.menu {
  position: absolute;
  font-size: 16px !important;
  right: 0px;
  z-index: 9;
}

.search {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 9;
}

.compass {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9;
}

.measureCard {
  position: absolute;
  right: 0px;
  z-index: 99;
}

.mapSwipe {
  position: absolute;
  width: 100%;
  z-index: 99;
}

.mapCompare {
  position: absolute;
  width: 100%;
  z-index: 99;
}

.mapCompareCol {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 99;
}

.mapBottom {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  font-size: 14px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9;
  margin-left: -24px;
}

.print {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 99;
}
